{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
<section class="w-full flex flex-col justify-center items-center mt-[150px]">
		{% for formation in pagination %}
			<div class="dark:bg-gray-800 dark:text-gray-100 ml-[300px]">
				<div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
					<a rel="noopener noreferrer" href="#" class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-900">
						<img src="https://source.unsplash.com/random/480x360" alt="" class="object-cover w-full rounded sm:h-96 lg:col-span-7 dark:bg-gray-500">
						<div class="p-6 space-y-2 lg:col-span-5 relative">
							<h3 class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline">{{ formation.title }}</h3>
							<span class="text-xs dark:text-gray-400">2023</span>
							<p>{{ formation.description }}</p>
							<div class="absolute bottom-0">
								<button class="bg-[#5B98D2] hover:bg-blue-700 text-white font-bold py-4 px-4 rounded">
									Voir la formation
								</button>
							</div>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
		<div class="text-center">
			{{ knp_pagination_render(pagination) }}

		</div>
	</section>
    
    {# <a href="{{ path('app_formation_new') }}">Create new</a> #}
{% endblock %}
