{% extends 'base.html.twig' %}

{% block title %}New Formation
{% endblock %}

{% block body %}
	<div class="h-full flex items-center">
		{{ include('formation/_form.html.twig') }}
	</div>

{% endblock %}
