<div class="h-[90%]">

	<h1 class="text-center text-xl font-bold">
		Modifier mon profile
	</h1>
	<div class="flex justify-center items-center h-full">
		{{ form_start(form, {'attr': {'class': 'w-[40%] py-9 px-9 rounded bg-white', 'style': 'border: 1px solid white;'}}) }}

		{{ form_widget(form) }}
		<button class="bg-[#5B98D2] hover:bg-blue-700 text-white font-bold py-4 px-4 rounded">
			{{ button_label|default('Sauvegarder') }}
		</button>
		{{ form_end(form) }}
	</div>

</div>
