<p>Bonjour {{ cooptation.firstname ~ ' ' ~ cooptation.lastname }},</p>

<p>Félicitation, votre candidature a été acceptée !</p>

<p>Nous vous invitons à vous préparer pour votre intégration et à prendre contact avec notre service des ressources humaines pour les formalités administratives nécessaires.</p>
<p>Cordialement,</p>
<p>La direction</p>
