<p>Bonjour {{ user.firstname ~ ' ' ~ user.lastname }},</p>

<p>Félicitation, votre candidat {{ cooptation.firstname ~ ' ' ~ cooptation.lastname}} a été retenu !</p>

<p>Nous tenons à vous remercier sincèrement pour votre contribution et votre engagement dans le processus de recrutement. </p>

<p>Cordialement,</p>
<p>Le responsable RH</p>
