<p>Bonjour {{ user.firstname ~ ' ' ~ user.lastname }},</p>

<p>Merci de vous être inscrit à notre formation "{{ formation.title }}". Nous sommes ravis de vous compter parmi les participants!</p>

<p>Pour accéder à la formation, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ formation.formationUrl }}">{{ formation.formationUrl }}</a></p>

<p>Si vous avez des questions ou besoin d'informations supplémentaires, n'hésitez pas à nous contacter.</p>

<p>Cordialement,</p>
<p>L'équipe de formation</p>
