{% import 'components/components.html.twig' as components %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('build/images/logo.png') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="h-screen">
		<div class="flex w-screen h-screen">
			<div class="w-[15%] bg-black h-screen">
			 {{components.header()}}
			</div>
			<div class="w-[85%]">
			{% block body %}{% endblock %}
			</div>
		</div> 
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
