<form method="post" action="{{ path('back_app_skills_delete', {'id': skills.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette compétence?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skills.id) }}">
    <button class="btn devisio-btn-delete">Supprimer</button>
</form>
