{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components%}

{% block title %}Skills{% endblock %}

{% block body %}
    <div class="list-wrapper">
        <a href="{{ path('back_app_skills_new') }}" class="devisio-btn devisio-btn-add">
            Nouvelle compétence
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.id }}</td>
                    <td>{{ skill.name }}</td>
                    <td>{{ components.table_actions('skills', skill) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
