{% extends 'base.html.twig' %}


{% block title %}
	Tableau de bord
{% endblock %}


{% block body %}
	<section class="flex justify-center">
		<div>
			<div class="w-[785px] h-[337px] bg-white mb-[29px]"></div>
			<div class="w-[785px] h-[124px] bg-white mb-[29px]">
				<div class="pt-[34px] pb-[24px] pl-[24px] text-xl">
					<p class="text-xl">Contrat en cours</p>
          <p class="text-2xl font-bold">{{ lastContract.offer.name }}</p>
				</div>
			</div>
			<div class="w-[785px] h-[298px] bg-white">
				<div class="pt-[34px] pb-[24px] pl-[24px] text-xl">
					<p>Mes recommandations</p>
          
				</div>
			</div>
		</div>

	</section>
{% endblock %}
